body {
	overflow-x: hidden;
}
::selection {
	background: #444; /* WebKit/Blink Browsers */
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #444; /* Gecko Browsers */
	color: #fff;
	text-shadow: none;
}
.threedee {
	color: white;
	text-shadow: 0 1px 0 #777,
				0 2px 0 #747474,
				0 3px 0 #666,
				0 4px 0 #646464,
				0 5px 0 #555,
				0 6px 1px rgba(0,0,0,.1),
				0 0 5px rgba(0,0,0,.1),
				0 1px 3px rgba(0,0,0,.3),
				0 3px 5px rgba(0,0,0,.2),
				0 5px 10px rgba(0,0,0,.25),
				0 10px 10px rgba(0,0,0,.2),
				0 20px 20px rgba(0,0,0,.15);
}
