
@import url(base.css);

/* -----------------------------------------
   Global
----------------------------------------- */

@font-face {
	font-family: 'Museo Sans 500';
	src: url('../fonts/museosans.woff') format('woff'),
	     url('../fonts/museosans.ttf')  format('truetype'),
	     url('../fonts/museosans.svg#svgFontName') format('svg');
}

body {
	background: #222;
	font: normal 13px/1.3 'Museo Sans 500', 'Arial', 'Tahoma', 'Helvetica', sans-serif;
	color: #222;
	overflow: hidden;
	cursor: default;
}

p {
	font-size: 14px;
	cursor: default;
}

a, a:link, a:visited {
	color: #2ba6cb;
	text-decoration: underline;
}

a:hover, a:focus, a:active {
	color: #3ac4ed;
	text-decoration: none;
	outline: 0;
}


/* -----------------------------------------
   Layout
----------------------------------------- */

.layout-container {
	position: relative;
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	background: #e5e5e5;
}

.layout-header {
	height: 60px;
	background: #323232;
	background-image: linear-gradient(to bottom, #444 0%,#0e0e0e 100%);
	color: #fafafa;
}

.layout-content {
	display: none;
	background: #eee;
	padding: 0;
	margin: 0;
	min-height: 100%;
	overflow: hidden;
}


/* -----------------------------------------
   Content
----------------------------------------- */

.layout-header .logo {
	position: absolute;
	left: 12px;
	top: 12px;
	cursor: pointer;
}

.layout-header .version {
	position: absolute;
	left: 210px;
	top: 25px;
	font-size: 16px;
}

.sidebar {
	position: absolute;
	top: 60px;
	left: 0;
	padding: 9px;
	background: #ddd;
	min-height: 100%;
	overflow: auto;
	display: inline-block;
}

.filter {
	height: 25px;
	margin-bottom: 12px;
}

.filter input {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff url('../images/filter.png') 4px center no-repeat;
	border-radius: 9px;
	width: 100%;
	height: 26px;
	padding: 3px;
	font-size: 14px;
	padding-left: 24px;
}

.sidebar-inner {
	width: 100%;
	overflow: auto;
}

.contents {
	position: absolute;
	right: 0;
	top: 60px;
	padding: 9px;
	background: #eee;
	min-height: 100%;
	overflow: hidden;
}

.contents-inner {
	width: 100%;
	padding: 4px;
	overflow: auto;
}

.contents h1 {
	font-size: 27px;
	font-weight: normal;
	font-style: normal;
	margin: 0 0 3px 0;
	cursor: default;
}

.contents h2 {
	font-size: 17px;
	font-weight: normal;
	font-style: normal;
	color: #666;
	margin: 0 0 16px 0;
	cursor: default;
}

.contents h3 {
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	color: #666;
	margin: 7px 0 2px 0;
	cursor: default;
}

.contents code {
	display: inline-block;
	width: auto;
	background: #333;
	border-radius: 8px;
	padding: 6px;
	margin-bottom: 12px;
	color: #fafafa;
	cursor: default;
}

.contents table {
	empty-cells: show;
	border-collapse: separate !important;
	border-radius: 8px;
	margin: 0 0 5px 0;
	border: 1px solid #b2b2b2;
	width: 100%;
	background: #fff;
	overflow: hidden;
	cursor: default;
}

.contents table th {
	padding: 4px;
}

.contents table td {
	padding: 4px;
}

.contents table th:first-child, .contents table td:first-child {
	width: 20%;
}

.contents small {
	display: block;
	font-size: 13px;
	margin-bottom: 20px;
	color: #555;
	cursor: default;
}

.contents p {
	margin: 0 0 17px 0;
}

.topics li {
	display: block;
	background: url('../images/page.png') no-repeat 4px center;
	padding: 8px;
	padding-left: 24px;
	padding-top: 5px;
	margin: 8px;
	margin-left: 6px;
	height: 24px;
	border-radius: 5px;
	cursor: pointer;
}

.hr {
	display: block;
	background: #bbb;
	border: 0;
	margin-left: 1.5%;
	margin-right: 1.5%;
	height: 1px;
	width: 97%;
}


/* -----------------------------------------
   Utility
----------------------------------------- */

@media print {
	
	.no-print {
		display: none;
	}
	
}

.javascript-warning {
	padding: 20px;
	text-align: center;
	font-size: 14px;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background: #ddd;
	border-radius: 10px;
}
 
::-webkit-scrollbar-track {
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3); 
	border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
	background: #555;
	padding: 4px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5); 
}


